#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

override_dh_auto_configure:
	dpkg -x bbb.io-gateware_1.20231226.0-0~lunar_all.deb ./tmp/

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
