#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

VERSION="BVF-0.4.0-27-g7078de9"

override_dh_auto_configure:
	dpkg -x ./debian/bbb.io-gateware*.deb ./tmp/
	echo "$(VERSION)" > ./tmp/usr/share/beagleboard/gateware/version.txt

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
