#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

VERSION="2025.10-2-g4e16f48"

override_dh_auto_configure:
	dpkg -x ./debian/bbb.io-gateware*.deb ./tmp/
	echo "$(VERSION)" > ./tmp/usr/share/beagleboard/gateware/version.txt

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
