#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

override_dh_auto_configure:
	mkdir -p ./tmp/ ; git -c http.sslVerify=false clone https://git.beagleboard.org/beaglev-fire/gateware-snapshots.git ./tmp/

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz
